.main-title {
    display: flex;
    justify-content: center;
}
body{
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}
.container{
    display: grid;
    place-items: left;
    width: fit-content;
    padding: 10%;
  }
.container h3{
    font-weight: 100;
}
.container h5 {
    text-decoration: underline;
    font-style: italic;
    background: #e3f7e3;
    width: fit-content;
    cursor: pointer;
}
.text-field{
    width: 800px;
    height: 57px;
    font-size: x-large;
    padding: 3%;
    border-radius: 17px
}
button#restart-btn {
    width: fit-content;
    cursor: pointer;
}
#restart-btn-2{
    cursor: pointer;
}
button#details-btn {
    position: fixed;
    top: 2%;
    right: 1%;
    cursor: pointer;
}
button {
    font-family: 'Source Code Pro', monospace;
}
.typed {
    width: fit-content;
    font-weight: 100;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  section#warning-message {
    position: fixed;
    top: 18%;
    width: 60%;
    left: 16%;
    right: 16%;
    background: #000000;
    color: white;
    padding: 4%;
    border-radius: 17px;
}

.hide {
    display: none;
}

/* Mobile Phones */
@media only screen and (max-width: 600px) {
    .container h3 {
        font-weight: 100;
        font-size: x-large;
    }
    .text-field {
        height: 230px;
        font-size: xx-large;
        padding: 3%;
        border-radius: 17px;
        width: auto;
    }
    .container h5 {
        font-size: large;
    }
    section.main-field {
        margin-top: 10%;
    }
    button#details-btn {
        right: 3%;
    }
    .typed{
        white-space: break-spaces;
        animation: none;
        border-right: none;
    }
}
