.main-title {
    display: flex;
    justify-content: center;
}
body{
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}
.container{
    display: grid;
    place-items: left;
    width: fit-content;
    padding: 10%;
  }
  
.text-field{
    width: 800px;
    height: 57px;
    font-size: x-large;
    padding: 3%;
}
